<header class="bg-amber-400 py-6">
  <div class="flex items-center justify-between max-w-[1200px] mx-auto">
    <div>
      <a href="{% url 'home' %}" class="text-lg lg:text-2xl"
        >Event Management</a
      >
    </div>

    <div class="flex items-center gap-2">
      <a href="{% url 'sign-in' %}" class="px-2 py-1 bg-blue-500 text-white rounded-md hover:bg-blue-700">Sign In</a>
      <a href="{% url 'sign-up' %}" class="px-2 py-1 bg-blue-500 text-white rounded-md hover:bg-blue-700">Sign Up</a>
    </div>
  </div>
</header>
