<section class="my-10">
  <div class="text-xl">Today's Events:</div>

  <div class="bg-white rounded-lg shadow-sm border my-5">
    <!-- table header -->
    <div
      class="grid grid-cols-4 text-gray-500 p-4 border-b border-gray-100 gap-4"
    >
      <div>EVENT NAME</div>
      <div>CATEGORY</div>
      <div>TIME</div>
      <div>LOCATION</div>
    </div>

    <!-- table elements -->
    {% for today in today_events %}
    <div class="divide-y divide-gray-100">
      <div class="grid grid-cols-4 items-center p-4 gap-4">
        <!-- NAME -->
        <div>
          <div class=""> {{today.name}} </div>
        </div>

        <!-- CATEGORY -->
        <div>
          <span
            class="px-3 py-1 text-sm rounded-full bg-blue-100 text-blue-500"
          >
            {{today.category}}
          </span>
        </div>

        <!-- TIME -->
        <div class="text-sm text-gray-500">
          <div>{{today.time}}</div>
        </div>

        <!-- LOCATION -->
        <div>
          <span class="text-sm text-gray-500"> {{today.location}} </span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>